<%= link_to "ログイン", posts_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<h1>Post一覧</h1>
<% @posts.each do |p| %>
    <div class="post">
        <%= p.user.email %>
        <%= p.body %>
        <%= link_to "詳細へ", post_path(p.id) %>
    </div>
    <!-- 追加 -->
    <% if user_signed_in? %>
        <% if p.liked_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
            <p><span>お気に入り解除: </span><%=link_to p.likes.count, post_likes_path(p.id), method: :delete %></p>
        <% else %>
            <p><span>お気に入り登録: </span><%=link_to p.likes.count, post_likes_path(p.id), method: :post %></p>
        <% end %>
    <% else %>
        <p><span>お気に入り数: </span><%= p.likes.count %></p>
    <% end %>
<% end %>
